/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

/bootstrap/compiled.php
/vendor


/build/logs
/build/coverage


/app/tests/_log


composer.phar


.DS_Store


/.idea
/_ide_helper.php


/app/config/packages
/public/packages


/node_modules


.env
